html {
    width: 400px;
    height: 104px;
    margin: 8px;
}
body {
    width: 400px;
    height: 120px;
    margin: 0;
    background-color: #f5f8fa;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #14171a;
    font-size: 14px;
    line-height: 18px;
}
img {
    height: 30px;
    border-radius: 2px;
}

.rob-dropdown {
    -webkit-appearance: none;  /* removes default Chrome style */
    -webkit-border-radius: 5px;
    border-radius: 5px;
    flex-grow: 1;
    align-self: center;
}

.rob-dropdown-content {
    position: absolute;
    top: 0;
    right: 50px;
    background-color: #f9f9f9;
    width: 70%;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
    .rob-dropdown-content[data-state=closed] {
        visibility: hidden;
    }
    .rop-dropdown-content[data-state=open] {
        /*transition: animation 1s;*/
        transition: visibility 2s;
        animation: fadeInAndDown 1s ease-in both;
        visibility: inherit;
    }
    .rob-dropdown-content > li {
        display: inline-block;
        padding: 1px;
        transition: box-shadow .1s;
    }
        .rob-dropdown-content > li:hover {
            box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        }

/* From Twitter */
button {
    border: 0;
    background: transparent;
    padding: 0;
    transition: box-shadow .15s ease-in-out;
}
.btn {
    background-color: #ccd6dd;
    background-repeat: no-repeat;
    background-image: linear-gradient(#fff,#f5f8fa);
    border: 1px solid #e6ecf0;
    border-radius: 4px;
    color: #66757f;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    padding: 8px 16px;
    position: relative;
}
    .btn:hover {
        color: #14171a;
        text-decoration: none;
        background-color: #e6ecf0;
        background-image: linear-gradient(#fff,#e6ecf0);
        border-color: #e6ecf0;
    }
    .btn:active {
        color: #14171a;
        background: #e6ecf0;
        border-color: #ccd6dd;
        box-shadow: inset 0 1px 4px rgba(0,0,0,0.2);
    }
    .btn:focus{
        background: #fff;
        border-color: #fff;
        box-shadow: 0 0 0 2px #fff, 0 0 2px 4px rgba(0,132,180,0.5);
        text-decoration: none;
    }
.btn-tweet {
    float: right;
}

input {
    display: inline-block;
    width: 100%;
    padding: 4px;
    margin: 0;
    outline: 0;
    background-color: #fff;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    
}

.tweet-box {
    position: relative;
    min-height: 64px;
    overflow: hidden;
    padding: 8px;
    text-shadow: none;
    vertical-align: top;
    width: auto;
}

.input-bar {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
}
.counter {
    margin-right: 5px;
}
/* TODO: Fix Caret
.dropdown-caret {
    position: absolute;
    top: -10px;
    left: 12px;
    width: 18px;
    height: 10px;
    float: left;
    overflow: hidden;
}

.dropdown-caret .caret-outer {
    border-bottom: 10px solid #657786;
    border-bottom-color: rgba(0,0,0,0.1);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: auto;
    left: 0;
    top: 0;
    width: auto;
}

.dropdown-caret .caret-inner {
    top: 1px;
    left: 1px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #fff;
    border-bottom-color: #fff;
}*/

/* Animations */
@keyframes fadeInAndDown {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}